body {
    background-size: cover;
    margin:0;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    margin-top: 5px;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin: auto;
}

p{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

/*Navbar*/
.navbar {
    text-decoration: none;
    display: flex;
    background-color: white;
    font-size: 2rem;
    height: 2.5rem;
}

.menu {
    text-decoration: none;
    justify-content: space-around;
    color: black;
    font-family: 'Amatic SC', cursive;
}

.box{
    position: relative;
    width: 500px;
    height: 100px;
    margin-top: 15px;
    left: 30%;
    right: 50%; 
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    text-align: center;
}